extends layout

block content
    div
        img(src="images/carusel.jpg", width="100%")
    section#banner
        h1 Welcome to Our Homepage
        p Your solution for AC repair and maintenance
    section#services
        h2 Our Services
        p We offer reliable AC repair and maintenance services.
    section#contact
        h2 Contact Us
        p Get in touch for all your AC repair needs.
